body{
  padding:0px;
  margin:0px;
  background-image:url(images/Shootingstar.gif);
  background-repeat: no-repeat;
  background-size: 1860px 720px;
}

.navhead {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 1;
}
.centercontainer{
  margin:10% 0px;
}
.contentMargin{
  margin-top: 300px;
}
.layout{
  margin-top:50px;
}
.contentBorder{
  width:50%;
  padding:10px;
  border: 1px solid black;
  border-radius: 15px;
}
.grad1 {
  padding: 50px;
  border-radius: 25px;
  background-image: linear-gradient(to left, orange, rgba(255,5,6,1));
}
.icon-pad{
  margin-left: 100px;
}
.circle{
  background: #7300ff;
    width: 550px;
    height: 450px;
    top: -248px;
    border-radius: 100%;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    /* position: relative; */
    z-index: -1;
}
.circlecontent{
  margin-top: 100px;
    margin-bottom: 75px
}
.font-weight{
  font-weight: 700;
}
